{% extends "layout.html" %}
{% block content %}
<body ng-app="anoop" ng-controller="home">
    <div class="container">
        <br><br>
        <h6 class="text-right" id="click" style="cursor:pointer;display:none;" ng-click="nextMessage()">Tap to continue</h6>
        <h1 class="text-left" id="maintext"></h1>
    </div>
    <div class="container-fluid" ng-init="position=0;displayText();">
        <div id="myModal" class="modal fade" role="dialog"></div>
    </div>
</body>
{% endblock %}