{% extends "layout.html" %}
{% block content %}
<body ng-app="anoop" ng-controller="home">
    <div class="container" ng-init="position=0;displayText();">
        <br><br>
        <h1 class="text-center" id="maintext"></h1>
    </div>
    <div class="container-fluid">
        <div id="myModal" class="modal fade" role="dialog"></div>
    </div>
</body>
{% endblock %}