{% extends "layout.html" %}
{% block content %}
<body ng-app="anoop">
    <div class="container">
        <br><br>
        <h1 class="text-center">Hi! I'm Anoop Santhanam.</h1>
        <h3 class="text-center">Welcome to my world. Stuff here is still being built. Why don't you come back later?</h3>
    </div>
    <div class="container-fluid">
        <div id="myModal" class="modal fade" role="dialog"></div>
    </div>
</body>
{% endblock %}