{% extends "layout.html" %}
{% block content %}
<body ng-app="anoop" ng-controller="home">
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span> 
            </button>
            <a class="navbar-brand" href="https://anoopworld.herokuapp.com" style="color:#ffa500;">Anoop Santhanam</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li class="active"><a href="https://anoopworld.herokuapp.com">Introduction</a></li>
                <li><a href="#"><span class="glyphicon glyphicon-book"></span> Education</a></li>
                <li><a href="#"><span class="glyphicon glyphicon-briefcase"></span> Experience</a></li> 
                <li><a href="#"><span class="glyphicon glyphicon-folder-close"></span> Projects</a></li> 
                <li><a href="#"><span class="glyphicon glyphicon-list-alt"></span>Patent</a></li> 
                <li><a href="#"><span class="glyphicon glyphicon-facetime-video"></span>In the media</a></li>
                <li><a href="#"><span class="glyphicon glyphicon-envelope"></span>Contact me</a></li> 
            </ul>
            {# <ul class="nav navbar-nav navbar-right">
                <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            </ul> #}
            </div>
        </div>
    </nav>
    <div class="container" style="margin-top:60px;">
        <h6 class="text-left" id="click" style="cursor:pointer;display:none;" ng-click="nextMessage()">Tap here to continue</h6>
        <h1 class="text-left" id="maintext"></h1>
        <br>
        <div id="content"></div>
    </div>
    <div class="container-fluid" ng-init="position=0;displayText();">
        <div id="myModal" class="modal fade" role="dialog"></div>
    </div>
</body>
{% endblock %}